.auth-section {
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(0,117,130,255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:10px;
}

.auth-container-2 {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main-logo {
  width: 100px;
  margin-bottom: 10px;
}

.auth-title {
  font-size: 24px;
  font-weight: bold;
  color:black;
  background-color: rgba(0,117,130,255);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 0;
  align-items: center;
  text-align: center;
}

.auth-container-2 form {
  width: 100%;
  padding: 10px;
  background-color: rgba(41,56,88,255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
}

.auth-container-2 form label {
  position: relative;
  margin-bottom: 20px;
}
.centered-icon {
  width: 20px;
  margin-right: 10px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  align-items: center;
  text-align: center;
  align-content: center;
}

.input-field {
  width: calc(100% - 40px);
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #3c4b61;
  color: #fff;
}

.input-field::placeholder {
  color: #a9a9a9;
}

.forgot-password {
  color: rgba(0,117,130,255);
  font-size: 13px;
  margin-top: 10px;
  text-align: right;
}

.password-hint {
  color: #666767;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.checkbox {
  width: 20px;
  margin-bottom: 10px;
}

.checkbox-text {
  text-align: center;
}

.auth-btn {
  margin-top: 10px;
  padding: 10px 5px;
  background-color: rgba(0,117,130,255);
  border: solid 1px rgba(0,117,130,255);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 13px;
  font-weight: 500;
}

.auth-btn:hover {
  background-color: rgba(0,117,130,255);
}

.terms-text {
  color: #666767;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.terms-link {
  color: #007ac6;
}

.switch-text {
  color: whitesmoke;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.handle-switch-btn {
  background-color: transparent;
  color: #007ac6;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.password-container{
  padding-top:-5%;
}