.user-list-container {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
  }
  
  .user-profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
  }
  
  .user-profile-link h3 {
    padding: 15px 13px;
    background-color: #df8825;
    /* background-color: #d3d3d3; */
    border-radius: 50%;
  }
  
  .user-profile-link h4 {
    margin: 0px 10px;
  }
  